# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.env/
.venv/

# PyTorch / TensorFlow / Keras 检查点文件
*.pth
*.pt
checkpoint/
ckpt/

# 日志文件
*.log

# Dataset、临时下载文件（如果这些数据不想放到 GitHub）
/dataset/
/out/
*.zip
*.tar.gz

# IDE 文件
.vscode/
.idea/

# MacOS 文件
.DS_Store

# Windows 缓存文件
Thumbs.db
